* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TT Norms Pro', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.mob {
    display: none;
}

.albums .container {
    padding: 10px 115px 280px;
}
.albums_title {
    font-size: 32px;
    line-height: 156%;
    letter-spacing: 0.05em;
    color: #161414;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.albums_items-slide {
    display: flex !important;
    flex-wrap: wrap;
    gap: 60px 20px;
}
.albums_item {
    border: 1px solid #161414;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 390px;
    transition: 0.5s;
}
.albums_item:hover {
    transform: translateY(-20px);
}
.albums_item-image {
    max-width: 390px;
    width: 390px;
    margin-left: -1px;
    margin-top: -1px;
    border-radius: 4px 4px 0 0;
}
.albums_item-image img {
    width: 100%;
}
.albums_item-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.05em;
    color: #161414;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6px;
}
.albums_item-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.05em;
    color: #161414;
    margin-bottom: 10px;
    margin-left: 6px;
}
.slick-dots {
    bottom: -100px !important;
}

@media screen and (max-width: 1439px) {
    .albums .container {
        padding: 10px 80px 280px;
    }
    .albums_items-slide {
        gap: 60px 10px;
    }
}
@media screen and (max-width: 1350px) {
    .albums_items-slide {
        gap: 60px 20px;
        justify-content: center;
    }
}
@media screen and (max-width: 1225px) {
    .albums .container {
        padding: 10px 20px 280px;
    }
}
@media screen and (max-width: 950px) {
    .albums .container {
        padding: 50px 20px 120px;
    }
    .albums_title {
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.05em;
        margin-top: 30px;
    }
    .albums_item-name {
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.05em;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .albums_item-date {
        font-size: 10px;
        line-height: 140%;
        letter-spacing: 0.05em;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 480px) {
    .albums_item-image {
        width: 100%;
        max-width: 100%;
    }
    .albums_item-image img {
        width: calc(100% + 2px);
    }
    .albums_items {
        padding: 0 30px;
    }
}