* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TT Norms Pro', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.mob {
    display: none;
}

.partners .container {
    padding: 0 80px 80px;
}
.partners_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 156%;
    letter-spacing: 0.05em;
    color: #161414;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 40px;
}
.partners_items {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 85px;
}
.partners_item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #161414;
    margin-top: 40px;
    max-width: 370px;
}

.partners_banks .container {
    padding: 0 20px 200px;
}
.partners_banks-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
    letter-spacing: 0.05em;
    color: #161414;
    margin-bottom: 80px;
    text-align: center;
}
.partners_banks-items {
    display: flex;
    justify-content: center;
    gap: 180px;
}
.partners_banks-item-text {
    max-width: 480px;
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #161414;
}
.partners_banks-item-link a {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #161414;
}

@media screen and (max-width: 1439px) {
    .partners_items {
        gap: 80px 40px;
    }
}
@media screen and (max-width: 1350px) {
    .partners_items {
        justify-content: center;
        gap: 80px 80px;
    }

    .partners_banks-items {
        gap: 80px;
    }
}
@media screen and (max-width: 1225px) {
    .partners .container {
        padding: 0 20px 60px;
    }
    .partners_items {
        justify-content: space-between;
    }

    .partners_banks-items {
        gap: 50px;
    }
}
@media screen and (max-width: 950px) {
    .partners .container {
        padding: 50px 20px 60px;
    }
    .partners_title {
        margin-top: 36px;
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.05em;
    }
    .partners_item-logo {
        max-width: 120px;
    }
    .partners_item-logo img{
        width: 100%;
    }
    .partners_items {
        gap: 40px;
    }
    .partners_item-text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.05em;
        max-width: 100%;
    }

    .partners_banks .container {
        padding: 0 20px 120px;
    }
    .partners_banks-items {
        flex-wrap: wrap;
        gap: 40px;
    }
    .partners_banks-title {
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.05em;
        margin-bottom: 40px;
    }
    .partners_banks-item-logo {
        max-height: 40px;
        height: 40px;
    }
    .partners_banks-item-logo img {
        height: 100%;
    }
    .partners_banks-item-text {
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.05em;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .partners_banks-item-link {
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.05em;
    }
}
@media screen and (max-width: 480px) {
}
