* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TT Norms Pro', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.mob {
    display: none;
}

.banner .container {
    position: relative;
    padding: 0 80px 262px;
}
.banner_bg {
    position: absolute;
    bottom: 0;
    right: 80px;
}
.banner_image {
    display: none;
}
.breadcrumbs {
    margin-bottom: 120px;
}
.breadcrumbs a {
    color: #161414;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;
}
.breadcrumbs a.active {
    font-weight: 700;
}
.banner-title {
    color: #161414;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.6px;
    max-width: 561px;
    margin-bottom: 80px;
}
.banner-description {
    color: #161414;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
}
.banner-action a {
    display: flex;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #F5C643;
    color: #161414;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
}
.banner-bottom svg{
    width: 100%;
    height: auto;
}

.advantages .container {
    padding: 80px 0;
}
.advantages_title {
    color: #161414;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.6px;
    text-align: center;
    margin-bottom: 40px;
}
.advantages_items {
    background-image: url("../images/advantages_bg.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 113px 163px 185px;
}
.advantages_item {
    text-align: center;
}
.advantages_item-img {
    margin-bottom: 20px;
}
.advantages_item-title {
    color: #FCFCFC;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}
.advantages_item-description {
    color: #FCFCFC;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;
    max-width: 325px;
}
@media screen and (max-width: 1439px) {

}

@media screen and (max-width: 1350px) {
    .banner .container {
        padding: 0 80px 160px;
    }
    .banner_bg {
        max-width: 650px;
    }

    .advantages .container {
        padding: 80px 0 0;
    }
}

@media screen and (max-width: 1225px) {
    .banner .container {
        padding: 0 20px 100px;
    }
    .banner_bg {
        display: none;
    }
    .banner_image {
        display: block;
        margin: 0 auto 20px;
        width: 600px;
    }
    .banner_image img {
        width: 100%;
    }
    .breadcrumbs {
        margin-bottom: 36px;
    }

    .advantages_items {
        padding: 113px 20px 185px;
        justify-content: center;
    }
}

@media screen and (max-width: 950px) {
    .banner .container {
        padding: 50px 20px 36px;
    }
    .banner_image {
        width: calc(100% + 40px);
        margin: 0 -20px 20px;
    }
    .banner-title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
        margin-bottom: 40px;
        max-width: 320px;
    }
    .banner-description {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
    }

    .advantages_items {
        background-image: url("../images/advantages_bg_mob.png");
    }

}

@media screen and (max-width: 480px) {
    .breadcrumbs a {
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.5px;
    }

    .advantages .container {
        padding: 60px 0 0;
    }
    .advantages_title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .advantages_items {
        padding: 86px 20px 105px;
    }
    .advantages_item-img {
        width: 43px;
        margin: 0 auto 20px;
    }
    .advantages_item-img img{
        width: 100%;
    }
    .advantages_item-title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.7px;
    }
    .advantages_item-description {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.7px;
        max-width: 245px;
    }
}